<header>
  <div class="headerInner dFlex dFlexAlIC">
    <div class="container">
    <div class="row">
      <div class="logo">
        <a href="#">
          <img src="/assets/svg/logo-1-s.png" alt="logotipe">
        </a>
        <span>Kaboodle</span>
        <span>discover and share movies and TV shows with your friends</span>
      </div>
      <nav>
        <ul class="dFlexJSB">
          <li>
            <img src="/assets/svg/user.png" alt="Link to sign up form">
            <span>Sign up</span>
          </li>
          <li>
            <img src="/assets/svg/user.png" alt="Link to login form">
            <span>Log in</span>
          </li>
          <li>
            <img src="/assets/svg/about-s.png" alt="Link to About srction">
            <span>About</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  </div>

  <div class="headerBackground">
    <h1>Kaboodle</h1>
    <img src="/assets/svg/logo-1-main_01.png" alt="logotipe">
  </div>
</header>