<div class="footerWrapper">
  <h3 class="textCenter">Kaboodle</h3>
  <nav>
    <ul>
      <li><a href="#">FAQ <span>/</span></a></li>
      <li><a href="#">Feedback <span>/</span></a></li>
      <li><a href="#">Contact <span>/</span></a></li>
      <li><a href="#">T&Cs <span>/</span></a></li>
      <li><a href="#">Privacy Policy <span>/</span></a></li>
    </ul>
  </nav>
  <span>Copyright 2016 - All Rights Reserved</span>
  <img id="leftImg" src="/assets/svg/logo-1-main_01.png" alt="decoration">
  <img id="rightImg" src="/assets/svg/logo-1-main_01.png" alt="decoration">
</div>
