/*Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
 }

article, aside, details, figcaption, figure, main, footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none; }
}

q {
  &:before, &:after {
    content: '';
    content: none; }
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/*variables*/


/*main*/
section, header {
  width: 100%;
  background-color: black;
}

.container {
  max-width: 1158px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

.dFlex {
  display: flex;
}

.row {
  @extend .dFlex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.dFlexJC {
  @extend .dFlex;
  justify-content: center;
}

.dFlexJSB {
  @extend .dFlex;
  justify-content: space-between;
}

.dFlexAlIC {
  @extend .dFlex;
  align-items: center;
}

.footerWrapper {
  @extend .dFlex;
  flex-direction: column;
  height: 181px;
}

.textCenter {
  text-align: center;
}

main .swiper.s-wrapper.swiper-container-vertical >
div.swiper-button-next {
  position: absolute;
  margin-top: 0px;
  transform: rotate(180deg);
  bottom: 0;
  left: 97.7%;
  width: 26px;
  height: 8px;
  z-index: 100;
  cursor: pointer;
  transition: 0.4s;
  background-size: 26px 8px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: baseline;
  background-image: url("/assets/svg/verticali-slider-arrows2.gif");
  &:active {
    outline: none;
  }
  &:hover {
    opacity: 0.8;
    transition: 0.4s;

  }
}

main .swiper.s-wrapper.swiper-container-vertical >
div.swiper-button-prev {
  @extend .swiper-button-next;
  top: 0;
  bottom: auto;
  transform: rotate(0);
}

/*Fonts*/
@font-face {
  font-family: RobotoCondensed;
  src: url(./assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(./assets/fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(./assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(./assets/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: ProximaNova;
  src: url(./assets/fonts/FontsFree-Net-Proxima-Nova-Bold.otf) format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: GothamBold;
  src: url(./assets/fonts/GothamBold/GothamBold.otf) format("opentype");
  font-style: normal;
  font-weight: bold;
}